*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none;
}
.backgroundimg {
  width: 100%;
  height: 84vh;
  color: #fff;
  background:linear-gradient(-45deg, #000000 , #1a6896f1, #5599c4f1,#413efff1);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
0%{
  background-position:0 50% ;
}
50%{
  background-position:100% 50% ;
}
100%{
  background-position:0 50% ;
}
}
header {
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #000000;
}
.logo:hover {
  font-size: 2.2em;
  color: rgb(0, 0, 0);
  letter-spacing: 3.5px;
  animation: change ease-in-out;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a{
  text-decoration: none;
  color: whitesmoke;
  padding: 6px 15px;
  font-size: 1em;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}
header ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #0b1575;
  display: block;
  margin: auto;
  transition: 0.7s;
}
header ul li:hover::after {
  width: 100%;
  content: '';
}
.textbx {
  padding-top: 240px;
  padding-left: 70px;
}
.textbx p {
  font-size: 2em;
  font-style: italic;
}
.textbx h1 {
  font-size: 4em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  animation: type 2s infinite;
  overflow: hidden;
  white-space: nowrap steps(22);
  width: 3ch;
  border-right: 4px solid;
}
.textbx h1 span{
  color: #0b1575;
}
@keyframes type {
  0%{
    width: 0ch;
  }
  100%{
    width: 4.3ch;
  }
}
.mmbtn a {
  position: relative;
  display: inline-block;
  padding:15px 30px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.mmbtn a:hover {
  color: whitesmoke;
  background: #145e9b;
  box-shadow: 0 0 10px #0b385e, 0 0 40px #0b385e, 0 0 80px #0b385e;
  transition-delay: 1s;
}
.mmbtn a span {
  position:absolute;
  display: block;
}
.mmbtn a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#0b385e);
}
.mmbtn a:hover span:nth-child(1)
{
  left: 100%;
  transition: 1s;
}
.mmbtn a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#0b385e);
}
.mmbtn a:hover span:nth-child(3)
{
  right: 100%;
  transition: 1s;
}
.mmbtn a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg,transparent,#0b385e);
}
.mmbtn a:hover span:nth-child(2)
{
  top: 100%;
  transition: 1s;
  transition-delay:0.25s;
}
.mmbtn a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#0b385e);
}
.mmbtn a:hover span:nth-child(4)
{
  bottom: 100%;
  transition: 1s;
  transition-delay:0.55s;
}
.row{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 80px;
  margin-right: 20px;
}

.column {
  float: left;
  padding: 10px;
  border-radius: 10px;
}

.left{
  width: 37%;
  margin-right: 30px;
}

.middle {
  width: 60%;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 8px 0 rgba(8, 74, 90, 0.486), 0 6px 20px 0 rgba(19, 168, 194, 0.623);
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 2px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.column middle h2{
  font-weight: bold;
}
.box {
  margin-top: 30px;
  text-align: left;
  width: 100%;
}
.box h2 {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 20px;
  background: #03a9f4;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  color: white;
}
.box ul {
  position: relative;
  background: whitesmoke;
}

.box ul li {
  padding: 10px;
  width: 100%;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705), 0 6px 20px 0 rgba(0, 0, 0, 0.699);
  transition: transform 0.5s;
}
.box ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;

}
.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px)
}
.box ul li:hover span {
  background: #fff;
  color: #25bcff;
}
.textpx h2{
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #03a9f4;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: white;
}
.textpx p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.103), 0 0 25px rgba(0, 0, 255, 0.116), 0 0 5px rgba(0, 0, 139, 0.082);
}
.container {
  width: 400px;
  height: 45px;
  background: white;
  padding: 10px 18px;
  display: flex;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 20px 25px rgba(58, 55, 55, 0.2);
}
.container p {
  margin-left: 18px;
}
.rotate {
  overflow: hidden;
}

.container span {
  display: block;
  height: 100%;
  padding-left: 10px;
  color: #ae00ff;
  animation: rotate_words 6s infinite;
}

@keyframes rotate_words {
  10% {
    transform: translateY(-75%);
  }
  25% {
    transform: translateY(-79%);
  }
  35% {
    transform: translateY(-176%);
  }
  50% {
    transform: translateY(-180%);
  }
  60% {
    transform: translateY(-275%);
  }
  75% {
    transform: translateY(-280%);
  }
  85% {
    transform: translateY(-373%);
  }
  100% {
    transform: translateY(-380%);
  }
}
.skillsbar {
  width: 500px;
  padding:20px;
}
.skillsbar li {
  position: relative;
  margin: 50px 0;
  font-weight: 500;
  text-transform: uppercase;
}
.skillsbar li:before {
  content: '';
  position: absolute;
  top:calc(100% + 10px) ;
  left: 0;
  width: 100%;
  height: 15px;
  background-color:rgba(54,126,223,.5) ;
  border-radius: 1000px;
}
.skillsbar li:after {
  content: '';
  position: absolute;
  top:calc(100% + 10px) ;
  left: 0;
  width: 0;
  height: 15px;
  background-color:rgba(54,126,223,1) ;
  border-radius: 1000px;
  animation-duration: .7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.skillsbar li.html:after {
  animation-name: html;
}
@keyframes html {
  to {
    width: 90%;
  }
}
.skillsbar li.css:after {
  animation-name: css;
}
@keyframes css {
  to {
    width: 75%;
  }
}
.skillsbar li.javascript:after {
  animation-name: javascript;
}
@keyframes javascript{
  to {
    width: 30%;
  }
}
.skillsbar li.angular:after {
  animation-name: angular;
}
@keyframes angular {
  to {
    width: 10%;
  }
}
.skillsbar h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.center {
  margin-top: 70px;
  margin-left: 10px;
  border: 2px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(8, 74, 90, 0.486), 0 6px 20px 0 rgba(19, 168, 194, 0.623);
  border-radius: 50px;
  padding:20px 20px;

}
.download-btn {
  width:210px;
  height:64px;
  text-align:center;
  cursor:pointer;
  border-radius:10px;
  box-sizing:border-box;
  overflow:hidden;
}

.download-btn.btn-1 {
  border:5px solid #00acee;
}
.download-btn div {
  width:100%;
  height:100%;
  font-size:15px;
  font-weight:600;
  text-transform:uppercase;
  line-height:50px;
}
.download-btn.btn-1 .top {
  background:#00acee;
}
.download-btn .bottom {
  background:#eee;
  color:#222;
}
.download-btn .top {
  transition:all 300ms ease-in-out;
}
.download-btn:hover .top {
  margin-top:-50px;
}
.center p {
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}
.center h1 {
  text-align: left;
  font-weight: bold;
}
.footer {
  padding-top: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #065479;
  color: whitesmoke;
  text-align: center;
}
.scmd a {
  text-decoration: none;
  color: whitesmoke;
}
.footer p {
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 125, 153); 
}
.expheader {
  background-color: #145e9b;
  width: 100%;
  height: 20vh;
}
.columnexp {
  float: left;
  width: 30%;
}
.columnexp1 {
  float: left;
  width: 30%;
}
.columnexp2 {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.rowexp:after {
  content: "";
  display: table;
  clear: both;
}
.rowexp{
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 40px;
  width: 100%;
  word-spacing: 2px;
  letter-spacing: 1px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnexp {
    width: 100%;
  }
  .columnexp1 {
    width: 100%;
  }
  .columnexp2 {
    width: 100%;
  }
}
.textexp {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.textexp h1 {
  margin-right: 600px;
  margin-left: 600px;
  padding-top: 10px;
  padding-bottom: 10px; 
  font-size: 26px; 
  line-height: 50px; 
  letter-spacing: 1px;  
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
}
.columnexp {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(109, 109, 109, 0.623);
  margin-right: 10px;
  padding: 10px 10px;
  background-color: #145e9b;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.columnexp:hover {
  color:rgba(255, 255, 255, 0.432);
  cursor: pointer;
}
.columnexp h1 {
  text-align: center;
}
.columnexp h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp1 {
  margin-right: 10px;
  margin-left: 10px;
}
.columnexp1 h1 {
  text-align: center;
  background-color: #40d0fc ;
  border-radius: 50%;
}
.columnexp1 h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp1 p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp2 {
  box-shadow: 0 4px 8px 0 rgba(8, 74, 90, 0.486), 0 6px 20px 0 rgba(19, 168, 194, 0.623);
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(109, 109, 109, 0.623);
  padding: 10px 10px;
  background-color: #3ba3f8;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.columnexp2 h1 {
  text-align: center;
}
.columnexp2 h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp2 h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp2 p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.columnexp2:hover {
  color:rgba(255, 255, 255, 0.432);
  cursor: pointer;
}
html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
/*contact*/
.background1 {
  display: flex;
  min-height: 100vh;
  width: 230vh;
}

.container1 {
  flex: 0 1 700px;
  margin:70px 40px;
  padding: 10px;
}

.screen {
  position: relative;
  background: #145e9b;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #25bcff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: black;
}

.screen-header-button.maximize {
  background: white;
}

.screen-header-button.minimize {
  background: #289bfa;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: black;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: black;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: black;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: rgba(255, 255, 255, 0.253);
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #3ba3f8;
}

.contentcontainer {
  display: flex;
}

.cntcinfo {
  margin-top: 50px ;
  margin-left: 50px;
  margin-right: 300px;
}
.linkedin {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(109, 109, 109, 0.39);
}
.instagram {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(109, 109, 109, 0.39);
}
.email {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(109, 109, 109, 0.39);
}
.email:hover {
  color: #289bfa;
  cursor: pointer;
}
.instagram:hover {
  color: #289bfa;
  cursor: pointer;
}
.linkedin:hover {
  color: #289bfa;
  cursor: pointer;
}
.contentcontainer {
  margin-bottom: -50px;
}
@media screen and (max-width: 600px) {
  .contentcontainer {
    display:block;
  }
  .background1 {
    margin-top: -200px;
    width: 200px;
  }
  .cntcinfo {
    width: 100px;
    margin-left:50px;
  }
  .shadowbox {
    height: 500px;
    width: 400px;
  }

}
@media screen and (max-width: 600px) {
  .container {
    width: 360px;
  }
  .skillsbar {
    width: 460px;
  }
  .columnexp {
    width: 430px;
    margin-bottom: 50px;
  }
  .columnexp1 {
    width: 430px;
    margin-bottom: 50px;
  }
  .columnexp2 {
    width: 430px;
  }
}
.active {
  color:black;
  font-weight: bold;
}
@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
.shadowbox {
  margin-top: 70px;
  margin-bottom: 250px;
  margin-left: 60px;
  margin-right: 200px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(17, 198, 253, 0.39), 0 6px 20px 0 rgba(10, 37, 156, 0.39);
}
.shadowbox h1 {
  text-align: center;
  margin-top: 10px;
}
.shadowbox:hover {
  background-color: #00000017;
  cursor: pointer;
}




